.cardWrapper{
    max-width: 100%;
    margin-bottom: .5em;
    break-inside: avoid;
    position: relative;
    text-align: center;
    color: white;
}

.image{ 
    width: 100%;
}

.description{
    color: white;
    position: absolute;
    width: 100%;
    bottom: 4px;
    text-align: left;
    padding-left: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}