.detailsGif{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsCard{
    margin: 20px;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(32, 32, 32);
    color: white;
    padding: .5em;
    border-radius: 20px;
}

.basicInfo{
    margin: 0;
}

.embedURL{
    max-width: 25px;
}

.avatar{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.avatarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
}

.basicInfo{
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: black;
    margin: 1em;
}

.userContainer{
    display: flex;
    flex-direction: column;
    margin: .5em;
}

.basicInfo{
    border-radius: 20px;
}

.username{
    margin: 0;
}

.description{
    color: green    
}
